<Page class="page">
  <ActionBar title="Simple Todo App" class="action-bar" />
  <ScrollView>
    <!-- <GridLayout columns="*" rows="*" height="100%" v-if="loader.loading">
      <ActivityIndicator col="0" row="0" width="50" height="50" class="activity-indicator" busy="true"></ActivityIndicator>
    </GridLayout> -->
    <TabView height="100%">
      <TabViewItem title="To do(s)">
        <StackLayout class="home-panel">
          <TextField width="80%" v-model="search" hint="Search" />
          <Button class="pull-right" width="20%" :text="showForm ? '-' : '+'" @tap="showForm = !showForm" backgroundColor="orange" />
          <WrapLayout orientation="horizontal" itemWidth="auto" itemHeight="auto" v-if="showForm">
            <TextField width="80%" v-model="todo" hint="Enter new todo" @returnPress="addTodo" />
            <Button width="20%" text="Add" @tap="addTodo" backgroundColor="orange" />
            <!-- <Button width="auto" text="Refresh" @tap="refresh" backgroundColor="orange" /> -->
          </WrapLayout>
          <ListView class="list-group" for="todo in activeTodos">
            <v-template>
              <WrapLayout class="list-group-item">
                <Label :text="todo.name" class="list-group-item-heading" @longPress="options(todo)" width=80% />
                <Label :text="la.circle" class="icon line-awesome" @tap="markComplete(todo)" width=20% />
                <Label :text="todo.created_at | humanTime" class="list-group-item-text"/>
              </WrapLayout>
            </v-template>
          </ListView>
        </StackLayout>
      </TabViewItem>
      <TabViewItem title="Completed">
        <StackLayout class="home-panel">
          <ListView class="list-group" for="todo in completedTodos">
            <v-template>
              <FlexboxLayout flexDirection="row" class="list-group-item" >
                <Label :text="todo.name" class="list-group-item-heading" @longPress="reversal(todo)"  width=80% />
                <Label :text="la.check" class="icon line-awesome" @tap="markIncomplete(todo)" width=20% />
              </FlexboxLayout>
            </v-template>
          </ListView>
        </StackLayout>
      </TabViewItem>
    </TabView>
  </ScrollView>
</Page>